body{
    background-image:url(cybersecurity-bs.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: white;
    
}

.container{
    display: grid;
    place-content: center;
    border: none;
    border-radius: 18px;
    width: 100vw;
    height: 100vh;
    
    

}
.main-content {
  display: grid;
  place-content: center;
  height: 500px;
  width: 440px;
  background-color: #1F2937;
  border-radius: 18px;
  padding: 20px;
  
}
.line{
   border: 1px solid  #273549  ; 

}
h1{
    color:white ;
}

h1 spam{
    color: #10B981; 
}

#password-btn {
    border-radius: 6px;
    background-color: #10B981;
    color: white;
    padding:14px;
    margin: 12px 12px;
    width: 180px;
    

}
#clear-btn {
    border-radius: 6px;
    background-color: #10B981;
    color: white;
    padding:14px;
    margin: 12px 12px;
    width: 180px;

}
.password-section{
    display: flex;
    justify-content: center;
    gap: 10px;
    

}
.btn {
    background-color: #273549 ;
    border: 1px solid  #1F2937;
    border-radius: 3px;
    color: white;
    padding:14px;
    margin: 12px,12px;
    margin-top: 20px;
    width: 200px;
}